img{
    padding-top: 0%;
    margin-top: 0%;
    position: left;
}

h1{
    color: #913175;
}

body{
    background-color: #20262E;
}

h3,li,h4,form{
    color: #CD5888;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: bisque;
    border-width: 5px;
    width: 5%;
}

h1:hover{
    background-color: white;
}